body {
    background: #eee;
    text-align: center;
    padding: 0 25px;
    font-family: arial, sans-serif;
}

#main, #chats {
    width: 500px;
    margin: auto;
    text-align: left;
    background: white;
    padding: 50px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
}

#main h1 {
    margin-top: 0;
    font-size: 80px;
    margin-bottom: 5px;
    padding: 5px;
    font-family: Lucida;
}

#main {
    padding-bottom: 25px;
}
#main h1 span {
    font-style:italic;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

form {
    padding: 20px;
    padding-left: 0;
    margin-bottom: 20px;
}

form input[type=text] {
    margin-right: 10px;
    width: 70%;
    font-size: 12px;
    padding: 5px;
}


button {
  border: 2px;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  border-width: 0.1px;
  background-color: white;
}

.chats {
    padding: 5px;
    margin-bottom: 5px;
    background-color: #eee;
    border-style: dotted;
}

.chat .username {
    font-weight: 800;
}

.chat:hover {
    background-color: #ddd;
}

.spinner {
    float: right;
    height: 46px;
    margin-bottom: 5px;
}

.spinner img {
    padding: 10px;
}

.friend {
    background-color: #b3ffb3;
}

.dropbtn {
    background-color: #b3e6ff;
    font-size: 14px;
    padding: 10px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border-width: 0;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #4dc3ff;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border-width: 0;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}

.friend {
  font-weight: bold;
}

.message {
    border-style: solid;
    border-width: 1px;
    padding: 20px;
    border-radius: 20px;
}

.username {
    font-weight: bold;
    font-style: italic;
    align-content: left;
}

#messageButtons {
    padding: 2px;
    margin-top: 2px;
    margin-bottom: 20px;
    align-content: center;
    text-align: center
}

li {
  list-style-type: none; 
  margin-left: 10px; 
  font-family: Lucida;  
  font-size: 18px;
}

li:hover, li:focus {
    font-size: 22px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border-width: 0;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
}

hr {
  border: none;
  height: 100px;
  color: #333;
  background-color: #333; 
  align-self: center;
}


